:javascript
  window.location_key = "#{Rails.application.config.service.location[:key]}"

- if Rails.application.config.service.type != :master
  :javascript
    window.master_websocket = "#{Rails.application.config.service.master[:socket]}"

!!!
%html
  %head
    %title LocalService
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .hero
      %p= image_tag "flame_500.png"
      %h1 RailsCamp 2013
      %p
        %span.subheading July 27/28, 2013 &middot; Abenteuerhallen Kalk, Cologne

    = yield
